.options {
  height: 8.1vw;
  width: calc(100% - 32px);
  padding: 0;
  margin:0 16px;
  display: table;
  text-align: center;
  /* border-bottom: 1px solid #dcdcdc; */
  cursor:pointer;
}
.options > div {
  display: table-cell;
  vertical-align: top;
  border-bottom: 4px solid white;
  transition:all 0.2s;
}
.options > div:nth-child(1) {
  text-align: start;
  padding-left:16px;
}
.options > div:nth-last-child(1) {
  text-align: end;
  padding-right:16px;
}
.options > div.options--active {
  color: #8300ff;
  border-bottom: 4px solid #8300ff;
}
.break-line {
  background:#dcdcdc;
  height:1px;
  width:100%;
}
