.comment {
  textarea {
    font-size: 28px;
    font-size: 3.73vw;
    color: black;
    width: 100%;
    height: 26.67vw;
    resize: none;
    padding: 4vw;
    margin-bottom: 30px;
    border: 2px solid #e0e4e9;
    border-radius: 9px;
    &::-webkit-input-placeholder {
      color: #b9bdc5;
      letter-spacing: 0.3vw;
      font-family: Arial, "微軟正黑體", "Microsoft JhengHei";
    }
    &::-moz-placeholder {
      color: #b9bdc5;
      letter-spacing: 0.3vw;
      font-family: Arial, "微軟正黑體", "Microsoft JhengHei";
    }
    &:-ms-input-placeholder {
      color: #b9bdc5;
      letter-spacing: 0.3vw;
      font-family: Arial, "微軟正黑體", "Microsoft JhengHei";
    }
    &:-moz-placeholder {
      color: #b9bdc5;
      letter-spacing: 0.3vw;
      font-family: Arial, "微軟正黑體", "Microsoft JhengHei";
    }
  }
}
.rate {
  margin: 6.4vw 0 2.67vw 0;
  width: 100%;
  height: 8.4vw;
  color: #979ba7;
  font-weight: bold;
  font-size: 32px;
  font-size: 4.26vw;
  display: flex;
  align-items: center;
  &__star {
    max-width: 8.6vw;
    max-height: 8.6vw;
    margin-right: 2vw;
  }
}
.submit {
  margin-bottom: 6.27vw;
  display:grid;
  justify-content: end;
  button {
    font-family: Arial, "微軟正黑體", "Microsoft JhengHei";
    font-size: 36px;
    font-size: 4.8vw;
    font-weight: bold;
    color: white;
    background: #188fff;
    padding: 1.5vw 4.27vw;
    border: none;
    border-radius: 100px;
  }
}
